.toDo{
    width: 25%;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: .5em;
    border-radius: .75em;
    margin: 1em;
    cursor: pointer;
}

.toDo h3{
    margin: 0px;
}

.toDo p{
    margin: 0px;
}

.completed {
    text-decoration: line-through;
    background-color: green;
}

#completeItems{
    border:.8em solid green;
    margin: .2em;
}

#incompleteItems{
    border: .8em solid black;
    margin: .2em;
}